name: Elixir Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  build:
    name: Elixir Unit Tests
    runs-on: ${{ matrix.os }}
    env:
      MIX_ENV: test
      PGPASSWORD: postgres
    strategy:
      matrix:
        include:
          # Elixir 1.14 requires at least OTP 23
          - elixir: '1.14.4'
            otp: '23.3.4'
            os: ubuntu-22.04
          - elixir: '1.14.4'
            otp: '24.3.4'
            os: ubuntu-22.04
          - elixir: '1.14.4'
            otp: '25.3.2'
            os: ubuntu-22.04
          - elixir: '1.14.4'
            otp: '26.2.5'
            os: ubuntu-22.04
          # Elixir 1.15 requires at least OTP 24
          - elixir: '1.15.5'
            otp: '24.3.4'
            os: ubuntu-22.04
          - elixir: '1.15.5'
            otp: '25.3.2'
            os: ubuntu-22.04
          - elixir: '1.15.5'
            otp: '26.2.5'
            os: ubuntu-22.04
          # Elixir 1.16 requires at least OTP 24
          - elixir: '1.16.2'
            otp: '24.3.4'
            os: ubuntu-22.04
          - elixir: '1.16.2'
            otp: '25.3.2'
            os: ubuntu-22.04
          - elixir: '1.16.2'
            otp: '26.2.5'
            os: ubuntu-22.04

    services:
      db:
        image: postgis/postgis:13-3.1
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: geo_postgrex_test
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Elixir Project
        uses: ./.github/actions/elixir-setup
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}
          version-type: 'strict'
          build-app: false

      - name: Compile with warnings as errors
        if: ${{ matrix.elixir != '1.11.4' }} 
        run: mix compile --warnings-as-errors

      - name: Run tests with warnings as errors
        if: ${{ matrix.elixir != '1.11.4' }} 
        run: mix test --warnings-as-errors

      - name: Run tests
        run: mix test
