name: Elixir Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  build:
    name: Elixir Unit Tests
    runs-on: ubuntu-20.04
    env:
      MIX_ENV: test
      PGPASSWORD: postgres
    strategy:
      matrix:
        elixir: ["1.11.4", "1.12.3", "1.13.4", "1.14.4", "1.15.5", "1.16.2"]
        otp: ["22.3", "23.3.4", "24.3.4", "25.3.2", "26.1.2"]
        exclude:
          # Elixir 1.11 doesn't support the latest OTP
          - elixir: "1.11.4"
            otp: "25.3.2"
          - elixir: "1.11.4"
            otp: "26.1.2"
          # Elixir 1.12 doesn't support the latest OTP
          - elixir: "1.12.3"
            otp: "25.3.2"
          - elixir: "1.12.3"
            otp: "26.1.2"
          # Elixir 1.13 doesn't support the latest OTP
          - elixir: "1.13.4"
            otp: "26.1.2"
          # Elixir 1.14 requires at least OTP 23
          - elixir: "1.14.4"
            otp: "22.3"
          # Elixir 1.15 requires at least OTP 24
          - elixir: "1.15.5"
            otp: "22.3"
          - elixir: "1.15.5"
            otp: "23.3.4"
          # Elixir 1.16 requires at least OTP 24
          - elixir: "1.16.2"
            otp: "22.3"
          - elixir: "1.16.2"
            otp: "23.3.4"

    services:
      db:
        image: postgis/postgis:13-3.1
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: geo_postgrex_test
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Elixir Project
        uses: ./.github/actions/elixir-setup
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}
          build-app: false

      - name: Compile with warnings as errors
        if: ${{ matrix.elixir != '1.11.4' }} 
        run: mix compile --warnings-as-errors

      - name: Run tests with warnings as errors
        if: ${{ matrix.elixir != '1.11.4' }} 
        run: mix test --warnings-as-errors

      - name: Run tests
        if: ${{ matrix.elixir == '1.11.4' }}
        run: mix test
